<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
    <link href="/../images/apple-touch-startup-image-320x460.png" media="(device-width: 320px)" rel="apple-touch-startup-image">
    <link href="/../images/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <title>Singtel Staff Engagement</title>
    <link rel="stylesheet" href="/../css/framework7.css">
    <link rel="stylesheet" href="/../style.css">
    <link type="text/css" rel="stylesheet" href="/../css/swipebox.css" />
    <link type="text/css" rel="stylesheet" href="/../css/animations.css" />
    <link rel="stylesheet" href="/../fontGoogle.css">
    <link rel="stylesheet" href="/../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,900" rel="stylesheet">-->
</head>
<body id="mobile_wrap">



<div class="statusbar-overlay"></div>

<div class="panel-overlay"></div>

<!--<div class="panel panel-left panel-reveal">-->
    <!--<div class="view view-subnav">-->

        <!--<div class="pages">-->
            <!--&lt;!&ndash;<div data-page="panel-leftmenu" class="page pagepanel">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="page-content">&ndash;&gt;-->
                    <!--&lt;!&ndash;<nav class="main_nav_underline">&ndash;&gt;-->
                        <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="index-2.html" class="close-panel" data-view=".view-main"><img src="images/icons/white/home.png" alt="" title="" /><span>Home</span></a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="about.html" class="close-panel" data-view=".view-main"><img src="images/icons/white/mobile.png" alt="" title="" /><span>About</span></a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="features.html" class="close-panel" data-view=".view-main"><img src="images/icons/white/features.png" alt="" title="" /><span>Features</span></a></li>&ndash;&gt;-->

                            <!--&lt;!&ndash;<li><a href="#" data-popup=".popup-login" class="open-popup close-panel"><img src="images/icons/white/lock.png" alt="" title="" /><span>Login</span></a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="team.html" class="close-panel" data-view=".view-main"><img src="images/icons/white/users.png" alt="" title="" /><span>Team</span></a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="blog.html" class="close-panel" data-view=".view-main"><img src="images/icons/white/blog.png" alt="" title="" /><span>Blog</span></a></li>&ndash;&gt;-->

                            <!--&lt;!&ndash;<li><a href="photos.html" class="close-panel" data-view=".view-main"><img src="images/icons/white/photos.png" alt="" title="" /><span>Photos</span></a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="videos.html" class="close-panel" data-view=".view-main"><img src="images/icons/white/video.png" alt="" title="" /><span>Videos</span></a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="music.html" class="close-panel" data-view=".view-main"><img src="images/icons/white/music.png" alt="" title="" /><span>Music</span></a></li>&ndash;&gt;-->

                            <!--&lt;!&ndash;<li><a href="shop.html" class="close-panel" data-view=".view-main"><img src="images/icons/white/shop.png" alt="" title="" /><span>Shop</span></a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class="subnav"><a href="categories.html"><img src="images/icons/white/categories.png" alt="" title="" /><span>Sub level menu</span></a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="cart.html" class="close-panel" data-view=".view-main"><img src="images/icons/white/cart.png" alt="" title="" /><span>Cart</span></a></li>&ndash;&gt;-->

                            <!--&lt;!&ndash;<li><a href="tables.html" class="close-panel" data-view=".view-main"><img src="images/icons/white/tables.png" alt="" title="" /><span>Tables</span></a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="chat.html" class="close-panel" data-view=".view-main"><img src="images/icons/white/message.png" alt="" title="" /><span>Chat messages</span></a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="form.html" class="close-panel" data-view=".view-main"><img src="images/icons/white/form.png" alt="" title="" /><span>Custom Form</span></a></li>&ndash;&gt;-->


                            <!--&lt;!&ndash;<li><a href="tel:012345678" class="close-panel external" data-view=".view-main"><img src="images/icons/white/phone.png" alt="" title="" /><span>Call now!</span></a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="contact.html" class="close-panel" data-view=".view-main"><img src="images/icons/white/contact.png" alt="" title="" /><span>Contact</span></a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--&lt;!&ndash;</nav>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->
<% if (user!= null) { %>
<div class="panel panel-right panel-reveal">
    <div class="user_login_info">

        <div class="user_thumb">
            <img src="/../images/page_photo.jpg" alt="" title="" />
            <div class="user_details">
                <p>Welcome, <span><%= user.username %></span></p>
            </div>
            <div class="user_avatar"><img src="<%= user.qr_code %>" alt="" title="" /></div>
        </div>

        <nav class="user-nav">
            <ul>
                <li><a href="setting" class="close-panel"><img src="/../images/icons/white/settings.png" alt="" title="" /><span>Account Settings</span></a></li>
                <li><a href="profile" class="close-panel"><img src="/../images/icons/white/user.png" alt="" title="" /><span>My Account</span></a></li>
                <%if( user.role>1){ %>
                <li><a href="myevents" class="close-panel"><img src="/../images/icons/white/message.png" alt="" title="" /><span>My Event</span></a></li>
                <%}%>
                <li><a href="notify" class="close-panel"><img src="/../images/icons/white/categories.png" alt="" title="" /><span>History</span></a></li>
                <li><a href="notify" class="close-panel"><img src="/../images/icons/white/briefcase.png" alt="" title="" /><span>Balance</span><strong><%= user.balance %></strong></a></li>
                <li><a href="/logout" class="close-panel"><img src="/../images/icons/white/back.png" alt="" title="" /><span>Logout</span></a></li>
            </ul>
        </nav>
    </div>
</div>

<% } %>

<div class="views">

    <div class="view view-main">

        <div class="pages">

            <div data-page="<%= data_page %>" class="page homepage">
                <div class="page-content">

                    <div class="navbarpages">
                        <div class="navbar_right navbar_left_menu" style="float: left">
                            <a href="/" data-panel="left" ><img src="/../images/icons/white/home.png" alt="" title="Home" ></a>
                        </div>

                        <!--<div class="navbar_center h2" style="">-->
                            <!--<h2 style="color: white;line-height: 50px">ABCS</h2>-->
                        <!--</div>-->

                        <% if (user!= null) { %>
                        <div class="navbar_right navbar_right_menu">
                            <a href="#" data-panel="right" class="open-panel"><img src="/../images/icons/white/user.png" alt="" title="Profile" /></a>
                        </div>
                        <div class="navbar_right">
                            <a href="notify" data-view=".view-main"><img src="/../images/icons/white/message.png" alt="" title="Notify" /><span>3</span></a>
                        </div>
                        <% }  else {%>
                        <div class="navbar_right navbar_right_menu">
                            <a href="/login" data-panel="right" ><img src="/../images/icons/white/lock.png" alt="" title="Login" /></a>
                        </div>
                        <% } %>

                    </div>