<%- include layouts/header.ejs %>

            <div id="pages_maincontent" style="background-color: white; overflow: hidden;">

                <h2 class="page_title">FORGOT PASSWORD</h2>

                <div class="loginform">
                    <form id="ForgotForm" method="post">
                        <input type="text" name="username" value="" class="form_input required" placeholder="Your Singtel Email" />
                        <input type="submit" name="submit" class="form_submit" id="submit" value="RESEND PASSWORD" />
                    </form>
                    <div class="signup_bottom">
                        <p>Check your email and follow the instructions to reset your password.</p>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

<%- include layouts/footer.ejs %>
